{% extends "template.html" %}

{% block head %}

	<!-- <script type=text/javascript>
		$(function() {
		  $('#link').bind('click', function() {
			$.getJSON('/background_process/', {
			  balance: $('balance').val(),
			}, function(data) {
			  $("#result").text(data.balance);
			});
			return false;
		  });
		});
	</script> -->

	<script type="text/javascript">
		
	

	
			$("document").ready(function(){
		    setInterval(function(){
		        $.ajax({
		            url:"/getbitcoin/",
		            success:function(result){
		                $(".get-bitcoin").html(result);
		            }
			        });
			    }, 2000);
			});


	</script>

{% endblock %}


{% block content %}

 	
	  	<a id="link" href="/getbitcoin/">
		    <div class="get-bitcoin"> 
		      <div class="get-bitcoin-button">
		        <h1 class="bitcoin-header">{{ balance }}</h1>
		        <!-- <h1 id="result"></h1> -->
		      </div>
		    </div>
		</a>
	


{% endblock content %}
